---
layout: page
title: Archives
permalink: /archives/
---

{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% assign sorted_posts = category[1] | reversed %}

  <h2 id="{{category[0] | uri_escape | downcase }}">{{category[0] | capitalize}}</H2>
     <p>
      {% for p in sorted_posts %}
     <a href="{{ p.url }}">{{ p.title }}</a> &raquo;  <span class="entry-date"><time datetime="{{ p.date | date_to_xmlschema }}" itemprop="datePublished">{{ p.date | date: "%B %d, %Y" }}</time></span>
     <br />
      {% endfor %}
    </p>
  
{% endfor %}                      